space.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://www.w3ii.com"
      xmlns="http://www.w3ii.com"
      elementFormDefault="qualified">
         <xs:element name="space">
            <xs:complexType>
                  <xs:sequence>
                  <xs:element name="details">
                        <xs:complexType>
                              <xs:sequence>
                                    <xs:element name="title">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                                <xs:minLength value="10"/>
                                                <xs:maxLength value="40"/>
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="description">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                                <xs:minLength value="50"/>
                                                <xs:maxLength value="240"/>
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="authors">
                                          <xs:complexType>
                                                <xs:sequence>
                                                <xs:element name="author" maxOccurs="unbounded" minOccurs="2">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="first_name">
                                                                  <xs:simpleType>
                                                                  <xs:restriction base="xs:string">
                                                                        <xs:minLength value="3"/>
                                                                        <xs:maxLength value="8"/>
                                                                  </xs:restriction>
                                                                  </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="last_name">
                                                                  <xs:simpleType>
                                                                  <xs:restriction base="xs:string">
                                                                        <xs:minLength value="3"/>
                                                                        <xs:maxLength value="15"/>
                                                                  </xs:restriction>
                                                                  </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="id">
                                                                  <xs:simpleType>
                                                                  <xs:restriction base="xs:integer">
                                                                        <xs:pattern value="[1-9][0-9][0-9][0-9][0-9][0-9]"/>
                                                                  </xs:restriction>
                                                                  </xs:simpleType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                                </xs:element>
                                                </xs:sequence>
                                          </xs:complexType>
                                    </xs:element>
                              </xs:sequence>
                        </xs:complexType>
                  </xs:element>
                  <xs:element name="planets">
                  <xs:complexType>
                        <xs:sequence>
                        <xs:element name="planet" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                              <xs:sequence>
                              <xs:element name="name">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="1"/>
                                          <xs:maxLength value="20"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element name="symbol" minOccurs="0">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:length value="1"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element name="description">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="30"/>
                                          <xs:maxLength value="240"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element type="xs:date" name="discovery_date" minOccurs="0"/>
                              <xs:element name="parameters">
                              <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="apoapsis">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:long">
                                                <xs:pattern value="[0-9]*" />
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="periapsis">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:long">
                                                <xs:pattern value="[0-9]*" />
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="inclination">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:float">
                                                <xs:pattern value="\d+\.\d{2}" />
                                                <xs:pattern value="0.0"/>
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="orbital_period">
                                    <xs:complexType>
                                          <xs:simpleContent>
                                          <xs:extension base="xs:float">
                                          <xs:attribute type="xs:string" name="type" use="optional"/>
                                          </xs:extension>
                                          </xs:simpleContent>
                                    </xs:complexType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="detection_method" minOccurs="0"/>
                                    </xs:sequence>
                              </xs:complexType>
                              </xs:element>
                              <xs:element name="last_mission" minOccurs="0">
                              <xs:complexType>
                                    <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string" name="id">
                                    </xs:attribute>
                                    </xs:extension>
                                    </xs:simpleContent>
                              </xs:complexType>
                              </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="id" use="required"/>
                              <xs:attribute type="xs:string" name="typology" use="optional"/>
                              <xs:attribute type="xs:string" name="satellites" use="optional"/>
                        </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="satellites">
                  <xs:complexType>
                        <xs:sequence>
                        <xs:element name="satellite" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                              <xs:sequence>
                              <xs:element name="name">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="1"/>
                                          <xs:maxLength value="20"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element name="description">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="30"/>
                                          <xs:maxLength value="240"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element type="xs:date" name="discovery_date" minOccurs="0"/>
                              <xs:element name="parameters">
                              <xs:complexType>
                                    <xs:sequence>
                                    <xs:element name="apoapsis">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:long">
                                                <xs:pattern value="[0-9]*" />
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="periapsis">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:long">
                                                <xs:pattern value="[0-9]*" />
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element type="xs:float" name="inclination"/>
                                    </xs:sequence>
                              </xs:complexType>
                              </xs:element>
                              <xs:element name="last_mission" minOccurs="0">
                              <xs:complexType>
                                    <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                    </xs:extension>
                                    </xs:simpleContent>
                              </xs:complexType>
                              </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" use="required">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:pattern value="[A-Z]{0,3}"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute type="xs:string" name="body" use="required"/>
                        </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="missions">
                  <xs:complexType>
                        <xs:sequence>
                        <xs:element name="mission" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                              <xs:sequence>
                              <xs:element name="name">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="1"/>
                                          <xs:maxLength value="30"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              <xs:element name="description">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:minLength value="30"/>
                                          <xs:maxLength value="400"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" use="optional">
                                    <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                          <xs:pattern value="[M][0-9]+"/>
                                    </xs:restriction>
                                    </xs:simpleType>
                              </xs:attribute>
                        </xs:complexType>
                        </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  </xs:sequence>
            </xs:complexType>
  </xs:element>
   </xs:schema>