space.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema 
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      xmlns:g="http://www.w3.org/2001/XMLSchema"
      targetNamespace="http://www.w3ii.com"
      xmlns="http://www.w3ii.com"
      elementFormDefault="qualified">
      <xs:simpleType name="my_age">
            <xs:restriction base="xs:integer">
                  <xs:minInclusive value="18"/>
                  <xs:maxInclusive value="100"/>
            </xs:restriction>
      </xs:simpleType>
      
         <xs:element name="space">
            <xs:complexType>
                  <xs:sequence>
                  <xs:element name="details">
                        <xs:complexType>
                              <xs:sequence>
                                    <xs:element name="title">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                                <xs:minLength value="10"/>
                                                <xs:maxLength value="40"/>
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="description">
                                          <xs:simpleType>
                                          <xs:restriction base="xs:string">
                                                <xs:minLength value="50"/>
                                                <xs:maxLength value="240"/>
                                          </xs:restriction>
                                          </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="authors">
                                          <xs:complexType>
                                                <xs:sequence>
                                                <xs:element name="author" maxOccurs="unbounded" minOccurs="2">
                                                <xs:complexType>
                                                      <xs:group ref="author"/>
                                                </xs:complexType>
                                                </xs:element>
                                                </xs:sequence>
                                          </xs:complexType>
                                    </xs:element>
                              </xs:sequence>
                        </xs:complexType>
                  </xs:element>
                  <xs:element name="planets">
                  <xs:complexType>
                        <xs:group ref="planet"/>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="satellites">
                  <xs:complexType>
                        <xs:group ref="satellite"/>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="missions">
                  <xs:complexType>
                        <xs:group ref="mission"/>
                  </xs:complexType>
                  </xs:element>
                  </xs:sequence>
            </xs:complexType>

            <xs:key name="MissionsKey">
                  <xs:selector xpath="space"/>
                  <xs:field xpath="name"/>
            </xs:key>
            <xs:keyref name="MissionsRef" refer="MissionsKey">
                  <xs:selector xpath="space"/>
                  <xs:field xpath="last_mission"/>
            </xs:keyref>
  </xs:element>
<!--  -->
<!-- GROUPS -->
<!--  -->
  <g:group name="author">
        <g:sequence>
              <g:sequence>
                  <g:element name="first_name">
                        <g:simpleType>
                        <g:restriction base="g:string">
                              <g:minLength value="3"/>
                              <g:maxLength value="8"/>
                        </g:restriction>
                        </g:simpleType>
                  </g:element>
                  <g:element name="last_name">
                        <g:simpleType>
                        <g:restriction base="g:string">
                              <g:minLength value="3"/>
                              <g:maxLength value="10"/>
                        </g:restriction>
                        </g:simpleType>
                  </g:element>
                  <g:element name="id">
                        <g:simpleType>
                        <g:restriction base="g:integer">
                              <g:pattern value="[1-9][0-9][0-9][0-9][0-9][0-9]"/>
                        </g:restriction>
                        </g:simpleType>
                  </g:element>     
                  <g:element name="age" type="my_age"/>                                 
            </g:sequence>
        </g:sequence>
  </g:group>

  <xs:group name="planet">
        <xs:sequence>
            <xs:element name="planet" maxOccurs="unbounded" minOccurs="0">
            <xs:complexType>
                  <xs:sequence>
                  <xs:element name="name">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element type="xs:string" name="symbol" minOccurs="0">
                  </xs:element>
                  <xs:element name="description">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="30"/>
                              <xs:maxLength value="240"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element type="xs:date" name="discovery_date" minOccurs="0"/>
                  <xs:element name="parameters">
                  <xs:complexType>
                        <xs:sequence>
                        <xs:element name="apoapsis">
                              <xs:simpleType>
                              <xs:restriction base="xs:long">
                                    <xs:pattern value="[0-9]*" />
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="10000000000000"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        <xs:element name="periapsis">
                              <xs:simpleType>
                              <xs:restriction base="xs:long">
                                    <xs:pattern value="[0-9]*" />
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="1000000000000000"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        <xs:element name="inclination">
                              <xs:simpleType>
                              <xs:restriction base="xs:float">
                                    <xs:pattern value="\d+\.\d{2}" />
                                    <xs:pattern value="0.0"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        <xs:element name="orbital_period">
                        <xs:complexType>
                              <xs:simpleContent>
                              <xs:extension base="xs:float">
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                              </xs:extension>
                              </xs:simpleContent>
                        </xs:complexType>
                        </xs:element>
                        <xs:element type="xs:string" name="detection_method" minOccurs="0"/>
                        </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="last_mission" minOccurs="0">
                        <xs:complexType>
                              <!-- <xs:key name="mission_id">
                                    <xs:selector xpath="last_mission"/>
                                    <xs:field xpath="@last_mission"/>
                              </xs:key> -->
                              <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                          <xs:attribute type="xs:string" name="id">
                                          </xs:attribute>
                                    </xs:extension>
                              </xs:simpleContent>
                        </xs:complexType>
                  </xs:element>
                  </xs:sequence>
                  <xs:attributeGroup ref="planet_attribute"/>
                  </xs:complexType>
            </xs:element>
      </xs:sequence>
  </xs:group>

  <xs:group name="satellite">
        <xs:sequence>
            <xs:element name="satellite" maxOccurs="unbounded" minOccurs="0">
            <xs:complexType>
                  <xs:sequence>
                  <xs:element name="name">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="20"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element name="description">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="30"/>
                              <xs:maxLength value="240"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element type="xs:date" name="discovery_date" minOccurs="0"/>
                  <xs:element name="parameters">
                  <xs:complexType>
                        <xs:sequence>
                        <xs:element name="apoapsis">
                              <xs:simpleType>
                              <xs:restriction base="xs:long">
                                    <xs:pattern value="[0-9]*" />
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="1000000000"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        <xs:element name="periapsis">
                              <xs:simpleType>
                              <xs:restriction base="xs:long">
                                    <xs:pattern value="[0-9]*" />
                                    <xs:minInclusive value="0"/>
                                    <xs:maxInclusive value="1000000000"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        <xs:element name="inclination">
                              <xs:simpleType>
                              <xs:restriction base="xs:float">
                                    <xs:pattern value="\d+\.\d{3}" />
                                    <xs:pattern value="0.0"/>
                              </xs:restriction>
                              </xs:simpleType>
                        </xs:element>
                        </xs:sequence>
                  </xs:complexType>
                  </xs:element>
                  <xs:element name="last_mission" minOccurs="0">
                  <xs:complexType>
                        <xs:simpleContent>
                        <xs:extension base="xs:string">
                        <xs:attribute name="id" use="required">
                              <xs:simpleType>
                              <xs:restriction base="xs:string">
                              <xs:pattern value="[M][0-9]+"/>
                        </xs:restriction>
                        </xs:simpleType>
                        </xs:attribute>
                        </xs:extension>
                        </xs:simpleContent>
                  </xs:complexType>
                  </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:pattern value="[A-Z]{0,3}"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute type="xs:string" name="body" use="required"/>
            </xs:complexType>
            </xs:element>
      </xs:sequence>
  </xs:group>

  <xs:group name="mission">
        <xs:sequence>
            <xs:element name="mission" maxOccurs="unbounded" minOccurs="0">
            <xs:complexType>
                  <xs:sequence>
                  <xs:element name="name">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="30"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element name="description">
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:minLength value="30"/>
                              <xs:maxLength value="400"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  <xs:element name="agency">
                        <xs:simpleType>
                              <xs:restriction base="xs:string">
                                    <xs:enumeration value="NASA"/>
                                    <xs:enumeration value="SpaceX"/>
                              </xs:restriction>
                        </xs:simpleType>
                  </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" use="required">
                  
                        <xs:simpleType>
                        <xs:restriction base="xs:string">
                              <xs:pattern value="[M][0-9]+"/>
                        </xs:restriction>
                        </xs:simpleType>
                  </xs:attribute>
            </xs:complexType>
            <xs:unique name="mission_id">
                  <xs:selector xpath="missions/mission"/>
                  <xs:field xpath="@id"/>
            </xs:unique>
            </xs:element>
      </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="planet_attribute">
      <xs:attribute type="xs:string" name="id" use="required"/>
      <xs:attribute type="xs:string" name="typology" use="optional"/>
      <xs:attribute type="xs:string" name="satellites" use="optional"/>
  </xs:attributeGroup>
   </xs:schema>